
.contact-form-main-wrapper {
  background-color: $get-in-touch-bg-color;
  .form-wrapper {
    @include wrapper;
    text-align: center;
    .btn-contact-form {
      @include button($btn-form-primary-color, $btn-form-secondary-color);
    }
    .contact-form-input-text {
      border: 0;
      border-radius: 4px;
      background-color: #273a71;
      color: white;
      height: 56px;
      padding: 0 20px;
      box-sizing: border-box;
    }
    .contact-form-textarea {
      display: block;
      border: 0;
      border-radius: 4px;
      background-color: #273a71;
      color: white;
      width: 100%;
      height: 200px;
      padding: 0 20px;
      margin-bottom: 50px;
      box-sizing: border-box;
    }
    .float-left {
      float: left;
    }
    .float-right {
      float: right;
    }
  }
}
.get-in-touch-title {
  color: white;
  margin-bottom: 70px;
  @include block-header;
}
.wrapper-input-form {
  @include clearfix;
  max-width: 860px;
  margin: 0 auto;
  padding: 0 10px;
}



