.feedback-main-wrapper {
  background-color: $feedback-bg-color;
  .feedback-wrapper {
    @include wrapper;
  }
  .feedback-title {
    color: white;
    margin-bottom: 82px;
    p {
      max-width: 580px;
      margin: 0 auto;
    }
    @include block-header;
  }
}
.feedback-content-wrapper {
  color: white;
  width: 100%;
  @include clearfix;
  .feedback-content-item {
    @include feedback-content-item;
    padding: 0 5px 0 20px;
  }
}

