.header {
  height: 93px;
}
.logo {
  float: left;  
  position: relative;
  top: 56px;
  margin-left: 42px;
  // bottom: 0;  
  // @include position(absolute, 50% 0 0 50%);
  img {
    width: 118px;
    height: 36px;
  }
}
