.l-container {
    max-width: 1280px;
    margin: 0 auto;
}
.l-content {
    padding: 80px 0;
    min-height: 100vh;
    @at-root #{&}--form {
      background-color: #3c5499;
      color: white;
    }
    @at-root #{&}--services {
      background-color: #17c2a4;
      color: white;
    }
    @at-root #{&}--team {
      background-color: #e7f1f8;
      color: #3c4661;
    }
    @at-root #{&}--skills {
      background-color: #ffffff;
      color: #3c4661;
    }
    @at-root #{&}--portfolio {
      background-color: #ffdd99;
      color: #393939;
    }
    @at-root #{&}--about {
      background-color: #d74680;
      color: white;
    }
}
.contact-form {
    @at-root #{&}__input-text {
      @at-root #{&}--main {
        border: 0;
        border-radius: 4px;
        background-color: #273a71;
        color: white;
        height: 56px;
        width: 47.7%;
        margin: 0 0 32px 0;
        padding: 0 20px;
        box-sizing: border-box;
      }
      @at-root #{&}--main::placeholder::after {
        content: '*';
        color: red;
      }
      @at-root #{&}--main-fr {
        float: right;
      }
      @at-root #{&}--main-fl {
        float: left;
      }
    }
    @at-root #{&}__textarea {
  
      @at-root #{&}--main {
        display: block;
        border: 0;
        border-radius: 4px;
        background-color: #273a71;
        color: white;
        width: 100%;
        height: 200px;
        padding: 0 20px;
        margin-bottom: 50px;
        box-sizing: border-box;
      }
      @at-root #{&}--main::placeholder::after {
        content: '*';
        color: red;
      }
    }
  }
  .l-input-form {
    max-width: 860px;
    margin: 0 auto;
    padding: 0 10px;
}
.section-content {
    display: inline-block;
    box-sizing: border-box;
    margin-bottom: 20px;
    @at-root #{&}--portfolio {
      width: 49.8%;
      img {
        max-width: 80%;
        height: auto;
        display: block;
        margin: 0 auto;
      }
      p {
        text-align: center;
      }
    }
    @at-root #{&}--services {
      width: 24.7%;
      text-align: center;
      padding: 0 30px;
      img {
        max-width: 100%;
        height: auto;
        display: block;
        margin: 0 auto;
      }
    }
    @at-root #{&}--team {
      width: 24.7%;
      text-align: center;
      padding: 0 30px;
      img {
        max-width: 100%;
        height: auto;
        display: block;
        margin: 0 auto;
      }
    }
    @at-root #{&}--skills {
      width: 24.7%;
      text-align: center;
      padding: 0 20px;
      .l-chart-skills {
        width: 234px;
        margin: 0 auto;
      }
    }
    @at-root #{&}--about {
      display: block;
      float: left;
      width: 49.8%;
      text-align: left;
      padding: 0 30px;
      img {
        max-width: 100px;
        height: auto;
        float: left;
        margin-right: 5%;
      }
      span {
        max-width: 330px;
        width: 64%;
        display: inline-block;
        h4 {
          margin-bottom: 0;
        }
        p {
          max-width: 330px;
          margin: 0;
        }
      }
    }
}
.section-title {
    @at-root #{&}--mb-form {
        margin-bottom: 110px;
    }
    @at-root #{&}__header {
        text-align: center;
        h2 {
            margin: 0;
            padding-bottom: 21px;
        }
    }
    @at-root #{&}__line {
        width: 87px;
        height: 4px;
        margin: 0 auto;
        background-color: rgba(0, 0, 0, 0.15);
        margin-bottom: 21px;
    }
    @at-root #{&}__info {
        text-align: center;
        max-width: 700px;
        margin: 0 auto;
    }
}
.section-social-nav {
    padding: 0;
    @at-root #{&}__fb {
      list-style-type: none;
      margin: 0;
      padding: 0;
      display: inline-block;
      a {
        width: 35px;
        height: 35px;
        display: block;
        background-image: url('/assets/img/social_sprite.png');
        background-repeat: no-repeat;
      }
    }
    @at-root #{&}__tw {
      list-style-type: none;
      margin: 0;
      padding: 0;
      display: inline-block;
      a {
        width: 35px;
        height: 35px;
        display: block;
        background-image: url('/assets/img/social_sprite.png');
        background-repeat: no-repeat;
        background-position: -43px 0;
      }
    }
    @at-root #{&}__in {
      list-style-type: none;
      margin: 0;
      padding: 0;
      display: inline-block;
      a {
        width: 35px;
        height: 35px;
        display: block;
        background-image: url('/assets/img/social_sprite.png');
        background-repeat: no-repeat;
        background-position: -86px 0;
      }
    }
    @at-root #{&}__mail {
      list-style-type: none;
      margin: 0;
      padding: 0;
      display: inline-block;
      a {
        width: 35px;
        height: 35px;
        display: block;
        background-image: url('/assets/img/social_sprite.png');
        background-repeat: no-repeat;
        background-position: -129px 0;
      }
    }  
}
$configs: (
  chart-wd: (
    svgSize: 200px,
    percentage: 90,
    strokeWidth: 15px,
    backgroundColor: #dfe8ed,
    foregroundColor: #30bae7,
    labelColor: #3c4761,
    labelFontSize: 3.5rem,
    duration: 3s,
    animationDelay: 1s
  ),
  chart-html: (
    svgSize: 200px,
    percentage: 75,
    strokeWidth: 15px,
    backgroundColor: #dfe8ed,
    foregroundColor: #d74680    ,
    labelColor: #3c4761,
    labelFontSize: 3.5rem,
    duration: 3s,
    animationDelay: 1s
  ),
  chart-gd: (
    svgSize: 200px,
    percentage: 70,
    strokeWidth: 15px,
    backgroundColor: #dfe8ed,
    foregroundColor: #15c7a8,
    labelColor: #3c4761,
    labelFontSize: 3.5rem,
    duration: 3s,
    animationDelay: 1s
  ),
  chart-ui: (
    svgSize: 200px,
    percentage: 85,
    strokeWidth: 15px,
    backgroundColor: #dfe8ed,
    foregroundColor: #eb7d4b,
    labelColor: #3c4761,
    labelFontSize: 3.5rem,
    duration: 3s,
    animationDelay: 1s
  )
);



$pi: 3.14;
$labelData: '';
@for $i from 0 to 101 {
  $labelData: $labelData + $i + '%' + '\a';
}

@each $chart, $param in $configs {

  $c: (map-get($param, svgSize) - map-get($param, strokeWidth)) * $pi;
  $cOffSet: (map-get($param, percentage)/100)*$c;

  .#{$chart} {
    width: map-get($param, svgSize);
    height: map-get($param, svgSize);
    margin: 0;
    position: relative;

    &.animate {
      svg .circle-foreground {
        animation: offset map-get($param, duration) ease-in-out forwards;
        animation-delay: map-get($param, animationDelay);
      }
      figcaption:after {
        animation: #{$chart}-label map-get($param, duration) steps(map-get($param, percentage)) forwards;
        animation-delay: map-get($param, animationDelay);
      }
    }

    svg {
      width: 100%;
      height: 100%;
      .circle-background {
        r: (map-get($param, svgSize) - map-get($param, strokeWidth))/2;
        cx: 50%;
        cy: 50%;
        fill: none;
        stroke: map-get($param, backgroundColor);
        stroke-width: map-get($param, strokeWidth);
      }
      .circle-foreground {
        @extend .circle-background;
        stroke: map-get($param, foregroundColor);
        stroke-dasharray: $cOffSet $c;
        stroke-dashoffset: $cOffSet;
        transform-origin: 50% 50%;
        transform: rotate(-90deg);
      }
    }
    figcaption {
      display: inline-block;
      width: 100%;
      height: map-get($param, labelFontSize);
      overflow: hidden;
      text-align: center;
      color: map-get($param, labelColor);
      position: absolute;
      top: calc(50% - #{map-get($param, labelFontSize)/2});
      left: 0;
      font-size: 0;
      &:after {
        display: inline-block;
        content: $labelData;
        white-space: pre;
        font-size: map-get($param, labelFontSize);
        line-height: map-get($param, labelFontSize);
      }
    }
  }
  @keyframes #{$chart}-label {
    100% {
      transform: translateY(map-get($param, labelFontSize) * (-(map-get($param, percentage))));
    }
  }
}
@keyframes offset {
  100% {
    stroke-dashoffset: 0;
  }
}
figure {
  margin: 1rem!important;
}
.welcome {
    color: #fff;
    width: 100%;
    margin: 0 auto;
    height: 160px;
    position: absolute;
    top: 50%;
    margin-top: -50px;
  }
  .greeting {
    max-width: 620px;
    margin: 0 auto;
    h2 {
      text-align: center;
    }
}
  

  
  
  
  