
.section-nav {
  ul {
    list-style-type: none;
    padding: 0;
    overflow: hidden;
    width: 380px;
    margin: 0 auto 50px auto;
  }
  li {
    float: left;
    margin: 0 5px;
    a {
      display: inline-block;
      color: #393939;
      text-align: center;
      padding: 11px 0;
      text-decoration: none;
      text-transform: uppercase;
      border-radius: 4px;
      background-color: rgba(0, 0, 0, 0.078);
      width: 82px;
      height: 38px;
      vertical-align: middle;
    }
    a:hover:not(.active) {
      background-color: #ffffff;
    }
    a.active {
      background-color: #ffffff;
    }
  }
}

//--- media ---

@media only screen and (max-width: 860px) {
  .navbar {
    a {
      text-decoration: none;
      color: #ffffff;
      transition: color 0.3s ease;
    }
    a:hover {
      color: #bbbb;
    }
    top: 50px;
    left: 50px;
    z-index: 1000;
    -webkit-user-select: none;
    user-select: none;
  }
  .navbar input {
    margin-left: 80%;
    display: block;
    width: 40px;
    height: 32px;
    position: absolute;
    top: 60px;
    left: -5px;
    cursor: pointer;
    opacity: 0;
    z-index: 2;
    -webkit-touch-callout: none;
  }
  .navbar span {
    margin-left: 81%;
    top: 70px;
    display: block;
    width: 33px;
    height: 4px;
    margin-bottom: 5px;
    position: relative;
    background: $text-main-nav-color;
    border-radius: 3px;
    transform-origin: 4px 0px;
    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0),
    background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0),
    opacity 0.55s ease;
  }
  .navbar span:first-child {
    transform-origin: 0% 0%;
  }
  .navbar span:nth-last-child(2) {
    transform-origin: 0% 100%;
  }
  .navbar input:checked ~ span {
    opacity: 1;
    transform: rotate(45deg) translate(-2px, -1px);
    background: $text-main-nav-color;
  }
  .navbar input:checked ~ span:nth-last-child(3) {
    opacity: 0;
    transform: rotate(0deg) scale(0.2, 0.2);
  }
  .navbar input:checked ~ span:nth-last-child(2) {
    transform: rotate(-45deg) translate(0, -1px);
  }
  .topnav {
    position: absolute;
    width: 300px;
    margin: -100px 0 0 -50px;
    padding: 50px;
    padding-top: 125px;
    background: #572a57;
    list-style-type: none;
    -webkit-font-smoothing: antialiased;
    transform-origin: 0% 0%;
    transform: translate(-100%, 0);
    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0);
    z-index: 200;
  }
  .topnav li {
    padding: 10px 0;
    font-size: 22px;
  }
  .navbar input:checked ~ ul {
    transform: none;
  }
}

@media only screen and (min-width: 860px) {

  .navbar-checkbox {
    display: none;
  }

  .navbar {
    padding: 59px 0;
    font-size: 16px;
    min-width: 280px;
  }
  .navbar:after {
    content: "";
    display: block;
    clear: both;
  }

  .topnav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    float: right;
    li {
      float: left;
      margin: 0 2px;
      a {
        font-weight: $font-regular;
        display: block;
        color: $text-main-nav-color;
        text-align: center;
        vertical-align: middle;
        padding: 8px 17px;
        text-decoration: none;
        text-transform: uppercase;
        border-radius: 5px;
      }
      a:hover:not(.active) {
        background-color: $main-nav-bg-active-color;
      }
      a.active {
        background-color: $main-nav-bg-active-color;
      }
    }
  }
}


