.selector-search-app {
  position: fixed;
  padding-top: 28px;
  top: 20vh;
  right: 20px;
  width: 400px;
  height: 100px;
  background-color: #c9e5ff;
  border-radius: 5px;
  z-index: 10000;
}
.text-field-wrapper {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
  padding: 0 10px;
  .search-btn {
    width: 24%;
  }
  .search-input {
    width: 74.5%;
  }
}
.btn-wrapper {
  position: relative;
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  padding: 0 10px;
  input {
    width: 24%;
  }
}

.selected-element-search {
  border: 2px solid red;
}

.close-btn{
  position: absolute; top: -62px; right: 0px;
  margin: 0;
  padding: 0;
  max-width: 24px;
  max-height: 24px;
  text-decoration: none;
  text-align: center;
  vertical-align: middle;
  background: #c9e5ff;
  color: darkred;
  font: 700 20px/20px verdana, sans-serif;
  border-radius: 50%;
  outline: none;
  border: none;
}
.close-btn:hover {
  color: red;
  cursor: pointer;
}
