.services-main-wrapper {
  background-color: $services-bg-color;
  .services-wrapper {
    @include wrapper;
  }
  .services-title {
    color: white;
    margin-bottom: 82px;
    p {
      max-width: 580px;
      text-align: center;
      margin: 0 auto;
    }
    @include block-header;
  }
}
.services-content-wrapper {
  width: 100%;
  @include clearfix;
  .section-content-item {
    @include section-content-item;
    color: $text-services-main-color;
    text-align: center;
  }
}


