.welcome-wrapper {
  background-color: $welcome-bg-color;
  min-height: 500px;
  width: 100%;
  height: 100vh;
  position: relative;
}
.header {
  @include wrapper;
  height: 92px;
}
.logo {
  float: left;
  position: relative;
  top: 55px;
  margin-left: 42px;
  img {
    width: 118px;
    height: 36px;
  }
}
.welcome-title {
  @include wrapper;
  width: 100%;
  max-width: 924px;
  font-family: $font-bold;
  text-align: center;
  color: $text-welcome-title-color;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  h1 {
    line-height: 1.1;
    margin-bottom: 60px;
  }
  .btn-welcome {
    @include button($btn-welcome-primary-color, $btn-welcome-secondary-color);
  }
}
