.welcome {
  color: #fff;
  width: 100%;
  margin: 0 auto;
  height: 160px;
  position: absolute;
  top: 50%;
  margin-top: -50px;
}
.greeting {
  max-width: 620px;
  margin: 0 auto;
  h2 {
    text-align: center;
  }
}
