.btn {
  display: block;
  width: 293px;
  height: 70px;
  margin: 0 auto;
  border-radius: 5px;
  outline: 0 !important;
  border: none;   
  text-transform: uppercase;
  @at-root #{&}--form-color {
    background-color: #30bae7;
    border-bottom: 4px solid rgba(0, 0, 0, 0.15); 
    color: white;
    margin-bottom: 80px
  }
  @at-root #{&}--welcome-color {
    background-color: #eb7d4b;
    border-bottom: 4px solid rgba(0, 0, 0, 0.15); 
    color: white;
    margin-bottom: 80px
  }
}
.btn:hover {
  font-size: 1.1em;
  cursor: pointer;
}
.btn-welcome-color {
  color: white;
  // font-weight: bold;
}
