.section-content {
  display: inline-block;
  box-sizing: border-box;
  margin-bottom: 20px;
  @at-root #{&}--portfolio {
    width: 49.8%;
    img {
      max-width: 80%;
      height: auto;
      display: block;
      margin: 0 auto;
    }
    p {
      text-align: center;
    }
  }
  @at-root #{&}--services {
    width: 24.7%;
    text-align: center;
    padding: 0 30px;
    img {
      max-width: 100%;
      height: auto;
      display: block;
      margin: 0 auto;
    }
  }
  @at-root #{&}--team {
    width: 24.7%;
    text-align: center;
    padding: 0 30px;
    img {
      max-width: 100%;
      height: auto;
      display: block;
      margin: 0 auto;
    }
  }
  @at-root #{&}--skills {
    width: 24.7%;
    text-align: center;
    padding: 0 20px;
    .l-chart-skills {
      width: 234px;
      margin: 0 auto;
    }
  }
  @at-root #{&}--about {
    display: block;
    float: left;
    width: 49.8%;
    text-align: left;
    padding: 0 30px;
    img {
      max-width: 100px;
      height: auto;
      float: left;
      margin-right: 5%;
    }
    span {
      max-width: 330px;
      width: 64%;
      display: inline-block;
      h4 {
        margin-bottom: 0;
      }
      p {
        max-width: 330px;
        margin: 0;
      }
    }
  }
}
