@media only screen and (min-width:320px) {
  .services-title {
    //h1 {
    //  font-size: 0.6rem;
    //}

  }
  .section-content-item {
    width: 100%;
    p {
      padding: 0 50px;
    }
  }
  .team-content-item {
    width: 100%;
    p {
      padding: 0 50px;
    }
  }
  .skills-content-item {
    width: 100%;
  }
  body {
    font-size: 0.8rem;
  }
  .portfolio-content-item {
    width: 100%;
  }
  .feedback-content-item {
    width: 100%;
  }
  .contact-form-input-text {
    width: 100%;
    margin: 0 0 15px 0;
  }
  .footer {
    min-height: 212px;
    text-align: center;
  }
  .welcome-title {
    padding: 0 10px;
  }
  .btn-size {
    height: 50px;
    width: 190px;
  }
}

@media only screen and (min-width:520px) {
  body {
    font-size: 0.95rem;
  }
  .services-wrapper {
    padding: 0 50px;
  }
  .section-content-item {
    width: 50%;
    p {
      padding: 0;
    }
  }
  .team-content-item {
    width: 50%;
    p {
      padding: 0;
    }
  }
  .skills-content-item {
    width: 50%;
    p {
      padding: 0;
    }
  }
  .portfolio-content-item {
     width: 50%;
   }
  .footer {
    min-height: 172px;
    text-align: center;
  }
}
@media only screen and (min-width:610px) {
  .footer {
    min-height: 152px;
    text-align: center;
  }
  .services-wrapper {
    padding: 20px;

  }
  .section-content-item {
    width: 50%;
    p {
      padding: 0;
    }
  }
  .section-header {
    font-size: 40px;
  }
  .skills-wrapper {
    padding: 0 70px;
  }

}
@media only screen and (min-width:680px) {
  .feedback-content-item {
    width: 50%;
  }
  .btn-size {
    height: 70px;
    width: 293px;
  }
  .services-wrapper {
    padding: 0 80px;
  }
  .section-content-item {
    width: 50%;
    p {
      padding: 0 30px;
    }
  }
  .skills-content-item {
    p {
      padding: 0 50px;
    }
  }
}
@media only screen and (min-width:960px) {
  body {
    font-size: 1rem;
  }
  .services-wrapper {
    padding: 0;
  }
  .section-content-item {

    width: 25%;
    p {
      padding: 0 10px;
    }
  }
  .team-content-item {
    width: 25%;
  }
  .skills-content-item {
    width: 25%;
  }
  .contact-form-input-text {
    width: 47.7%;
    margin: 0 0 32px 0;
  }
  .footer {
    min-height: 112px;
    text-align: center;
  }
  .welcome-title {
    font-size: 21px;
  }
}
