@media only screen and (min-width:320px) {
  .section-content {
    &--services {
      width: 100%;
    }
    &--team {
      width: 100%;
    }
    &--skills {
      width: 100%;
    }
    &--portfolio {
      width: 100%;
    }
    &--about{
       width: 100%;
    }
    .l-container{
      padding: 0 5px;
      box-sizing: border-box;
    }
  }
  .contact-form__input-text--main {
    width: 100%;
  }
}
@media only screen and (min-width:520px) {
  .section-content {
    &--services {
       width: 49%;
    }
    &--team {
        width: 49%;
    }
    &--skills {
      width: 49%;
    }
    &--portfolio{
      width: 100%;
    }
    &--about{
      width: 100%
    }
  }

}
@media only screen and (min-width:768px) {
  .section-content {
    &--services {
      width: 49%;
    }
    &--team {
      width: 49%;
    }
    &--skills {
      width: 49%;
    }
    &--portfolio {
      width: 49%;
    }
    &--about{
      width: 49.8%;
    }
  }
  .contact-form__input-text--main {
    width: 47.7%;
  }
}
@media only screen and (min-width:1024px) {


}
@media only screen and (min-width:1140px) {
  .section-content {
    &--services {
      width: 24.7%;
    }
    &--team {
      width: 24.7%;
    }
    &--skills {
      width: 24.7%;
    }
  }
}
@media only screen and (min-width:1280px) {

}
@media print, (-o-min-device-pixel-ratio: 5/4), (-webkit-min-device-pixel-ratio: 1.25), (min-resolution: 120dpi) {

}
