.btn {
  display: block;
  width: 293px;
  height: 70px;
  margin: 0 auto;
  border-radius: 5px;
  outline: 0 !important;
  border: none;
  border-bottom: 5px solid #cc6633;
  background-color: #ff6633;
  text-transform: uppercase;
}
.btn:hover {
  font-size: 1.1em;
  cursor: pointer;
}
.btn-welcome-color {
  color: white;
  // font-weight: bold;
}
