@font-face {
  font-family: 'Titillium Web';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/titillium-web-v6-latin-regular.eot');
  src: local('Titillium Web Regular'), local('TitilliumWeb-Regular'),
  url('../fonts/titillium-web-v6-latin-regular.eot?#iefix') format('embedded-opentype'),
  url('../fonts/titillium-web-v6-latin-regular.woff2') format('woff2'),
  url('../fonts/titillium-web-v6-latin-regular.woff') format('woff'),
  url('../fonts/titillium-web-v6-latin-regular.ttf') format('truetype'),
  url('../fonts/titillium-web-v6-latin-regular.svg#TitilliumWeb') format('svg');
}

