@import 'modules/_typography.scss';

$welcome-bg-color: #87509c;
$services-bg-color: #17c2a4;
$team-bg-color: #e7f1f8;
$portfolio-bg-color: #ffdd99;
$about-bg-color: #d74680;
$get-in-touch-bg-color: #3c5499;
$main-nav-bg-active-color: #643a79;
$footer-bg-color: #344b8e;
$btn-welcome-primary-color: #eb7d4b;
$btn-welcome-secondary-color: #c86a40;
$btn-form-primary-color: #30bae7;
$btn-form-secondary-color: #299ec5;
$btn-portfolio-primary-color: #17c2a4;
$btn-portfolio-secondary-color: #14a58c;

$line-color: rgba(0, 0, 0, .149);

$text-about-subtitle-color: #ffdd99;
$text-main-nav-color: #ffffff;
$text-welcome-title-color: #f7f3ea;
$text-services-main-color: #ffffff;
$text-team-subtitle-color: #30bae7;
$text-team-main-color: #3c4761;
$text-skills-main-color: #3c4761;
$text-portfolio-main-color: #393939;
$text-link-color: #30bae7;
$text-btn-color: #ffffff;

$font-regular: 'TitilliumWeb-Regular', sans-serif;
$font-bold: 'TitilliumWeb-Bold', sans-serif;
$font-light: 'TitilliumWeb-Light', sans-serif;
$font-semiBold: 'TitilliumWeb-SemiBold', sans-serif;
$font-italic: 'TitilliumWeb-Italic', sans-serif;
