@import 'modules/_typography.scss';

$font-regular: 'TitilliumWeb-Regular', sans-serif;
$font-bold: 'TitilliumWeb-Bold', sans-serif;
$font-light: 'TitilliumWeb-Light', sans-serif;
$font-semiBold: 'TitilliumWeb-SemiBold', sans-serif;
$font-italic: 'TitilliumWeb-Italic', sans-serif;
