@mixin wrapper ($width: 1140px) {
  max-width: $width;
  margin: 0 auto;
  padding: 0 20px;
}
@mixin block-header {
  text-align: center;
  width: 100%;
  h1 {
    display: block;
    font-family: $font-bold;
    font-size: 40px;
    margin-bottom: 20px;
    padding-bottom: 0;
    text-transform: uppercase;
    width: 100%;
    text-align: center;
  }
  p {
    font-family: $font-regular;
    font-size: 18px;
  }
}
@mixin block-header-line {
  width: 87px;
  height: 4px;
  background-color: $line-color;
  margin: 0 auto;
  margin-bottom: 25px;
}
@mixin button ($primary-color, $shadow-color) {
  display: inline-block;
  cursor: pointer;
  background-color: $primary-color;
  box-shadow: 0px 5px $shadow-color;
  height: 70px;
  width: 293px;
  border-radius: 5px;
  border: none;
  margin: auto;
  font-family: $font-semiBold;
  font-size: 18px;
  text-transform: uppercase;
  color: $text-btn-color;
  &:active {
    box-shadow: 0 2px $shadow-color;
    transform: translateY(4px);
  }
}
@mixin list {
  list-style: none;
}
@mixin clearfix() {
  &::after {
    content: "";
    display: block;
    clear: both;
  }
}

