@mixin wrapper ($width: 1140px) {
  max-width: $width;
  margin: 0 auto;
  padding: 0 20px;
}
@mixin block-header {
  text-align: center;
  width: 100%;
  h1 {
    display: block;
    font-family: $font-bold;
    font-size: 40px;
    letter-spacing: 4px;
    margin-bottom: 6px;
    padding-bottom: 0;
    text-transform: uppercase;
    width: 100%;
    text-align: center;
  }
  p {
    font-family: $font-regular;
    font-size: 18px;
  }
}
@mixin block-header-line {
  width: 87px;
  height: 4px;
  background-color: $line-color;
  margin: 0 auto;
  margin-bottom: 15px;
}
@mixin button ($primary-color, $shadow-color) {
  display: inline-block;
  cursor: pointer;
  background-color: $primary-color;
  box-shadow: 0px 5px $shadow-color;
  //height: 70px;
  //width: 293px;
  border-radius: 5px;
  border: none;
  margin: auto;
  font-family: $font-semiBold;
  font-size: 18px;
  text-transform: uppercase;
  color: $text-btn-color;
  &:active {
    box-shadow: 0 2px $shadow-color;
    transform: translateY(4px);
  }
}
@mixin list {
  list-style: none;
}
@mixin clearfix {
  &::after {
    content: "";
    display: block;
    clear: both;
  }
}
@mixin  section-content-item {
  //width: 25%;
  float: left;
  img {
    max-height: 125px;
    display: block;
    margin: 0 auto;
    margin-bottom: 50px;
  }
  h2 {
    font-family: $font-bold;
    text-transform: uppercase;
  }
  p {
    font-family: $font-regular;
  }
}
@mixin  team-content-item {
  float: left;
  img {
    height: auto;
    width: 100%;
    max-height: 200px;
    max-width: 200px;
    display: block;
    margin: 0 auto;
    margin-bottom: 34px;
  }
  h2 {
    font-family: $font-bold;
    text-transform: uppercase;
    padding-bottom: 0;
    margin-bottom: 0;
  }
  p {
    font-family: $font-regular;
  }
}
@mixin  skills-content-item {
  float: left;
  h2 {
    font-family: $font-bold;
    text-transform: uppercase;
    text-align: center;
  }
  p {
    font-family: $font-regular;
  }
}
@mixin  portfolio-content-item {
  float: left;
  margin-bottom: 40px;
  img {
    height: auto;
    width: 100%;
    max-width: 540px;
    display: block;
    padding: 0 2px;
    margin: 0 auto;
  }
  h2 {
    font-family: $font-bold;
    text-transform: uppercase;
  }
  p {
    font-family: $font-regular;
    font-size: 18px;
    text-transform: uppercase;
  }
}
@mixin  feedback-content-item {
  @include clearfix;
  float: left;
  margin-bottom: 40px;
  img {
    height: 96px;
    width: 96px;
    display: inline-block;
    margin: 0 auto;
    float: left;
  }
  div {
    padding-left: 130px;
    padding-right: 10px;
  }
  h3 {
    font-family: $font-bold;
    text-transform: uppercase;
    padding-bottom: 0;
    margin-bottom: -5px;
  }
  p {
    font-family: $font-regular;
    display: block;
    margin-top: 0;
  }
  p:last-of-type {
    color: $text-feedback-subtitle-color;
    margin: 0;
    padding: 0;
  }
}

